---
layout: layout.liquid
title: 11ty Boilerplate
---


<div x-data="{ namern: '' }">
<h1> Name Generator</h1>

<h1>
    <button x-on:click='namern = allnames()'>Click to Generate</button>
   
    <span x-text="namern"></span>
</h1>
</div>


